.content{
	width: 100%;
	//min-width: 768px;
	overflow: hidden;
}
aside{
	float:left;
	//width: 25%;
	width:210px;
	padding: 0 10px;
	margin-top:50px; 
	font-size: 18px;
	min-width: 150px;
}
.sidebar-nav a{
	color: #000;
}
#main{
	overflow: hidden;
	margin-top:50px; 
	min-width: 555px;
}
@media screen and (max-width: 992px){
	.sidebar-nav{
		width:100%;
	}
	.sidebar-nav li{
		float:left;
	}
}