#main{
	margin-top: 25px;
	margin-bottom: 25px;
}
.bootstrap-table .bs-bars{
	width: 75%;
}
.bootstrap-table .search{
	width:20%;
}
.fixed-table-container{
	border:0;
}
.fixed-table-container tbody td{
	border: 0;
}
.bootstrap-table .table>tbody>tr{
	cursor: pointer;
}
.bootstrap-table .table>thead>tr>th{
	border-left:0 ;
}
.bootstrap-table .table>tbody>tr>td{
	vertical-align: middle;
	font-size: 16px;
}
.bootstrap-table .table>tbody>tr>td>.btn{
	margin:0 5px;
}


#tool_bar{
	width: 100%;
	overflow: hidden;
}
#tool_bar .title{
	margin-left:25px; 
}
#tool_bar .tools{
	//min-width: 270px;
	overflow: hidden;
}
#tool_bar .tools ul{
	list-style-type:none;
}
#tool_bar .tools ul>li{
	display:inline;
}
#funcs_btn{
	position:inherit;
}
#funcs_btn .dropdown-menu{
	margin-top:-10px; 
}

#file_manager{
	padding: 0 30px;
}
#file_manager table{
	width: 100%;
}
#rename_input{
	margin-bottom: 10px;
}
#editinfo_modal textarea{
	resize:vertical;
	margin-bottom: 10px;
	
}
#analysisinfo_modal .modal-body div{
	padding: 0 20px;
}
.mt{
 margin-top:1em;
}
.remove{
	cursor: pointer;
}
#report_type_table .duration-dash{
	float:left;
	width: 10%;
	font-size: large;
	text-align: center;
	line-height: 34px;
}
#report_type_table .duration{
	width: 45%;
}