#method{
  //color:#FFF;
}
.pt-2{
	padding-top:1rem; 
}
.pt-5{
	padding-top:3rem; 
}
.bg-white{
	background-color: #FFF;
}
.text-dark{
	color: #000;
}
.form-row{
	overflow: hidden;

}
#response_data{
	width: 100%;
	resize: vertical;
}