.label-file{
	line-height: 34px;
}
.btn-file{
	line-height: 34px;
}
.btn-file label{
	cursor: pointer;
}
.btn-file .fileinput-new{
}
.btn-file .fileinput-exists{
}
.cursor-pointer{
	cursor: pointer;
}
.apk_penal{
	text-align: center;
	margin-top: 10%;
	margin-left:auto;
	margin-right:auto;
	font-size: 18px; 
}
.download_box{
	border: 1px solid #777;
	border-radius: 5px;
	margin-top:20px;
	font-size: 36px;
	//height: 100px;
	//line-height: 100px;
	margin-bottom:20px;
}
.download_box div  {
	
    word-break: break-word;
    padding: 15px;
    font-size: 20px;
}
a{
	color:#000;
}
a:focus{
	text-decoration: none;
	color:#000;
}
a:hover {
	text-decoration: none;
	color:#000;
}
a:hover > div{
	background-color: #EEE;
}
.row{
}