@import url('font.css');
html,body{
	margin: 0;
	padding: 0 ;
	height:100%;
	width: 100%;
	font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei",'微軟正黑體','標楷體',Arial,sans-serif;
}
#wrap > header{
	height: 51px;
}
.w-100{
	width: 100%;
}
.text-left{
	text-align: left!important;
}
.text-right{
	text-align: right;
}
.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: transparent;
}
.navbar-header .navbar-brand{
	font-weight: bolder;
}
.navbar{
	background:#FFF;
	margin-bottom: 0;
}
#app-navbar-collapse{
	padding: 0 15px;
}
.navbar-nav>li>.dropdown-menu{
	margin-top: 10px;
	text-align: center;
}
.navbar-nav>li>.dropdown-menu>.arrow-border{
	position: absolute;
	top:-10px;
	right:4px;
	display: inline-block;
	border-right:10px solid transparent;
	border-left:10px solid transparent;
	border-bottom: 10px solid #AAA;
	color:#FFF;
}
.navbar-nav>li>.dropdown-menu>.arrow{
	position: absolute;
	top:-9px;
	right:4px;
	display: inline-block;
	border-right:10px solid transparent;
	border-left:10px solid transparent;
	border-bottom: 10px solid #FFF;
	color:#FFF;
}
#topbar.affix{
 	top:0;
 	left: 0;
    width: 100%;
}
#topbar.affix .navbar-brand.hide{
	display: block !important;
}
#wrap{
	min-height: 100%;
	padding-bottom: 132px;
	margin-bottom: -132px;
	width: 100%;
	overflow: hidden;
}
#content{
	width:100%;
	overflow: hidden;
}
#main{
	margin-bottom:10px;
}
.mt-3{
	margin-top: 3rem;
}
footer{
	//margin-top:-60px;
	background-color: #212121;
	color: #CCC;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 0;
	padding-left: 0;
}
footer hr{
	margin-top: 0;
	width: 90%;
 	border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -o-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -moz-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: linear-gradient(to right,#ccc, #333, #ccc);
}
#companyinfo{
	background-color: #212121;
	position: relative;
	text-align: center;
}
#companyinfo .breadcrumb{
	background-color: #212121;
	text-align: center;
	margin-bottom: 0;
}
#companyinfo .breadcrumb>li+li:before {
    padding: 0 5px;
    font-weight: bolder;
    color: #999;
    content: "|";
}
#copyright{
	text-align: center;
}
.bs-checkbox-label{
	padding-left: 10px;
}

.flex{
	display: flex;
}

.gap{
	gap:3px;
}

.mb-3{
	margin-bottom: 3rem;
}