.bs-bars{
    padding: 0 15px;
    width: 100%;
}
.chosen-container{
    width: 100% !important;
    line-height: 34px;
    height: 34px;
}
.chosen-container .chosen-single{
    line-height: 34px;
    height: 34px;
}
.chosen-container-single .chosen-single div{
    top: 5px;
}
#assigned_btn, #unassigned_btn{
    cursor: pointer;
    border: 1px solid #FFF;
    border-radius: 10px;
    text-align: center;
    margin-top: 50%;
    padding: 15px 0;
}
#assigned_btn:hover, #unassigned_btn:hover{
    border: 1px solid #555;
}
#assigned_btn span, #unassigned_btn span{
    font-size: xxx-large;
}