#banner{

}
#banner .contain{
	padding-right: 0;
    padding-left: 0;
}
#banner .banner{
	color: #FFF;
	padding: 4em 0;
	width: 100%;
	//height: 300px;
	//background:url(../assets/img/bannerbg.png);
	background-color:#37474F;
	text-align: center;
}
#banner .banner .logo{
	height: 150px;
}
#banner .banner .logo img{
	max-height: 100%;
}
#banner .banner header .head{
	font-weight: bolder;
	font-size: xx-large;
}
#banner .banner header .byline{
	margin-bottom: 2em;
	font-size: large;
}
#banner .banner header .button{
	font-size: x-large;
	padding: 0 0.5em;
}