#main .title{
	margin-left: 5%;
}
#toolbar{
	margin-left: 0;
	background: #FFF;
}
#toolbar .select_box{
/*	overflow:hidden;*/
	width: 100%;
    display: flex;
}
#toolbar .select_box div{
	font-size: 16px;
	padding: 0 5px;
	text-align: center;
	line-height: 34px;
}
#toolbar .btn-toolbar{
	display: flex;
	width: 100%;
}
#toolbar .btn-toolbar > li{
 float: none;
 width: 100%;
 margin: 0;
}
.select_rr_ecg{
	width:402px;
	border: 1px solid #333;
	border-radius: 5px; 
	margin:5px 10px;
	float: left;

}
.select_rr_ecg .check_box{
	text-align: center;
	width:100%;
}
.select_rr_ecg label{
	display: block;
	cursor: pointer;
}
.select_rr_ecg .check_box .check_box_border{
	width: 25px;
	height: 25px;
	margin:5px auto;
	border: 2px solid #333;
}
.select_rr_ecg .check_box .check_box_border .glyphicon-ok{
	display: none;
}
.select_rr_ecg .check_box .check_box_border input{
	display: none;
}
.select_rr_ecg .chart_box .peak_row{
	width: 100%;
	text-align: center;
}
.select_rr_ecg .chart_box .ecg_chart{
	width: 100%;
	text-align: center;
}
.select_rr_ecg .chart_box .time_row{
	width: 100%;
	text-align: center;
}
.line1 {
  fill: none;
  stroke: #B71C1C;
  stroke-width: 1.5px;
}
.line2 {
  fill: none;
  stroke: #1B5E20;
  stroke-width: 1.5px;
}
.line3 {
  fill: none;
  stroke: #01579B;
  stroke-width: 1.5px;
}

#toolbar.affix{
	z-index: 1000;
	width: 100%;
	top:0;
}
#toolbar.affix .select_box>div{
	height: 50px;
	line-height: 50px;
}

#toolbar.affix .checked-box{
	height: 50px;
	line-height: 50px;
}

#toolbar.affix .btn-toolbar > li{
	width: 50%;
	margin: 0;
}
#toolbar.affix .btn-toolbar .btn{
	float: none;
}
#toolbar.affix .form-control{
	display: inline-block;
}
#toolbar.affix .col-md-3{
	float: left;
	width: 25%;
}
#toolbar.affix .col-md-4{
	float: left;
	width: 33.3333333%;
}
#toolbar.affix .col-md-5{
	float: left;
	width: 41.6666667%;
}
.checked-box .control-label{
	font-size: 16px;
	cursor: pointer;
	line-height: 30px;
}
.checked-box .control-label input {
	margin-right: 5px;
}

@media screen and (max-width: 992px){
	#toolbar.affix{
		border: 1px solid #DDD;
		border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

		z-index: 1000;
		width: 284px;
		left:auto;
		right:0;
		top:75px;
	}
	#toolbar.affix .btn-toolbar {
		display: block;
	}
	#toolbar.affix .btn-toolbar > li{
		width: 100%;
		margin: 0;
		text-align: center;
	}

}