.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.tacholine{

  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.beat-line{
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.dot{
  	stroke: black;
	stroke-width:1px;
	fill:none;
}
.ecg_overview_row{
	height:50px;
}
.ecg_slidewindow{
	fill: none;
	stroke: green;
	stroke-width: 2px;
	stroke-dasharray: 5,5; 
	height:50px;
}
.rr_slidewindow{
	fill: none;
	stroke: gray;
	stroke-width: 1px;
	stroke-dasharray: 2,2;
}
.current_peak_window{
	fill: none;
	stroke: #795548;
	stroke-width: 2px;
	stroke-dasharray: 5,5;
	display: none;
}