.cookie-privacy{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #FFF;
    font-size: 18px;
    margin: 0;
    z-index: 3;
}
.cookie-privacy .alert-btn-box{
    margin-top: 1rem;
}
.cookie-privacy .alert-btn-box .btn{
	background: linear-gradient(#4f90d5, #2d2c97);
    border-color: black;
}