#main .model_box{
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#main .model_box > *{
	margin-right: 5px; 
}

.bootstrap-table .bs-bars{
	width: 75%;
}
.bootstrap-table .search{
	width:20%;
    margin-top: 20px;
}

#tool_bar{
	width: 100%;
	
}
#tool_bar .title{
	margin-left:25px; 
}
#tool_bar .tools{
	min-width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 45px;
}
.clearfix{
	clear: left;	
}
#tool_bar .tools ul{
	list-style-type:none;
}
#tool_bar .tools ul>li{
	display:inline;
}

.table .btn{
	margin-right: 5px;
}