#main{
	margin-top: 25px;
}
#toolbar{
	margin-left: 70px;
}
aside{
	//margin-top: 0px;
	-moz-transition: margin-left 0.5s; /* Firefox 4 */
	-webkit-transition: margin-left 0.5s; /* Safari 和 Chrome */
	-o-transition: margin-left 0.5s; /* Opera */
	transition: margin-left 0.5s;
	position: fixed;
    min-height: 100%;
    background-color: #FFF;
}
.sidebarhide{
	margin-left: -190px;
}
#main .title{
	margin-left: 0;
}
#main>hr{
	width: 95%;
 	border: 0;
    height: 1px;
    margin-top: 5px;
    background: #333;
    background-image: -webkit-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -o-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -moz-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: linear-gradient(to right,#ccc, #333, #ccc);
}
#toolbar>ul{

	list-style-type: none;
    margin: 0;
    padding: 0;
}
#toolbar>ul>li{
	float: left;
	margin: 0 5px;
}
#toolbar .dropdown-menu{
}
#toolbar .view_options label{
	font-size: 18px;
	cursor: pointer;
}
#toolbar .range_select{
	max-width:200px;
}
#toolbar .view_options input{
	height: 34px;
    width: 18px;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}
#ecgView {
    height: 400px;
	overflow: auto;
	transform: translateZ(0);
}
#rr_line_chart{
	height: 75px;
	overflow-y: scroll; 
}
#rr_time_row{
	overflow: hidden;
}
#rr_time_row .start_time{
	float: left;
}
#rr_time_row .end_time{
	float: right;
}
#ecg_overview_chart{
	width: 100%;
	overflow-y: scroll;
	height: 213px;
	transform: translateZ(0);
}
#analysis_btn .glyphicon{
	vertical-align: text-top;
}
#sidebar {
	z-index: 1;
}

#sidebar:hover{
	margin-left: -15px;
}
#sidebar:hover #sidebarmenu{
	background-color: transparent;
    color: transparent;
}
#sidebarmenu{
    position: absolute;
	cursor: pointer;
    background-color: #777;
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40px;
    font-size:24px; 
    text-align: center;
    left: 0;
    top: 0;
    margin-left: 170px;
    /*margin-top: -140px;*/
    -moz-transition: background-color 0.5s; /* Firefox 4 */
	-webkit-transition: background-color 0.5s; /* Safari 和 Chrome */
	-o-transition: background-color 0.5s; /* Opera */
	transition: background-color 0.5s;
}
.ajax_loading{
	display: none;
	width: 100%;
	text-align: center;
	height: 50px;
	}
.ajax_loading img{
	height: 100%;
}
path.peak-marker-icon {
	cursor:pointer;
}
.w-half{
	width: 50%;
	float:left;
}
.w-quarter{
	width: 25%;
	float:left;
}

.w-quarter-3-half{
	width: 37.5%;
	float:left;
}

.w-quarter-fix-h{
	height: 260px;
}
.w-quarter h4{
	text-align: center;
}
.axisy_title{
	width: 50px;
    left: -10px;
    top: -140px;
	position: relative;
	transform:rotate(-90deg);
	text-align: center;
}
.axisx_title{
	text-align: center;
}
.report_type_box{
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
}
.report_type_box .report_type_list{
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid #000000;
	overflow: auto;
	max-height:340px;
}
.label-control{
	cursor: pointer;
}
.comment{
}
#comment_input{
	height: 200px;
}
.btn_action{
	text-align: center;
}
#comment_confirmed{
	font-size: large;
	margin: 15px auto 0;
	width: 100%;
	height: 50px;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.one_lead_ecgView{
	float:left;
	min-width: 1280px;
	max-width: 1280px;
	width: 75%;
}
.one_lead_box{
	padding-left: 15px;
	overflow: hidden;
}
.section_title{
	text-align: center;
}

.lock_svg{
	overflow: hidden !important;
}
.report_type_list--ab .label-control{
	color: red;
}