#tool_bar .title {
    margin-left: 25px;
    margin-right: 10px;
}
#file_manager .fixed-table-container{
	border:0;
}
.bootstrap-table .search {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bootstrap-table .bs-bars {
    width: 75%;
}
#tool_bar {
    width: 100%;
}
#tool_bar .tools ul{
	list-style-type:none;
}
#tool_bar .tools ul>li{
	display:inline;
}
#tool_bar .tools{
	min-width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 35px;
}