#main{
	margin-top: 25px;
	min-height: 300px;
}

.bootstrap-table .bs-bars{
	width: 75%;
}
.bootstrap-table .search{
	width:20%;
}
.fixed-table-container{
	border:0;
}
.fixed-table-container tbody td{
	border: 0;
}
.fixed-table-loading{
	z-index: 9;
}
.bootstrap-table .table>tbody>tr{
	cursor: pointer;
}
.bootstrap-table .table>thead>tr>th{
	border-left:0 ;
}
.bootstrap-table .table>tbody>tr>td{
	vertical-align: middle;
	font-size: 14px;
}
.bootstrap-table .table>tbody>tr>td>.btn{
	margin:0 5px;
}
.bootstrap-table .table>tbody>tr>td>.file_desc{
	font-size: 9px;
	color:#9E9E9E;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 70%;
    text-align: left;
    margin-top: 2px;
}
#main .model_box{
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#main .model_box > *{
	margin-right: 5px; 
}
#tool_bar{
	width: 100%;
	
}
#tool_bar .title{
	margin-left:25px; 
}
#tool_bar .tools{
	min-width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 45px;
}
.clearfix{
	clear: left;	
}
#tool_bar .tools ul{
	list-style-type:none;
}
#tool_bar .tools ul>li{
	display:inline;
}
.funcs_btn{
}
.funcs_btn .glyphicon{
	vertical-align: text-top;
}
.funcs_btn .dropdown-menu{
	margin-top:10px; 
}

#tool_bar .storage_box{
	width:100%;
	text-align: right;
}

#tool_bar .storage_box .progress{
	margin-bottom: 0;
}
#tool_bar .storage_box .progress .progress-bar{
	color: #555;
}
#tool_bar .storage_box .storage{
}
.fixed-table-container{
	//padding-top: 30px;
}
.fixed-table-body{
	height: auto;
	max-height: 600px;
}
#file_manager{
	padding: 0 30px;
}
#file_manager table{
	width:100%;
	min-width: 700px;
}
#file_manager table thead,#file_manager table tbody ,#file_manager table tr, #file_manager table th, #file_manager table td
{ display: block; }
#file_manager table thead{
	width: calc( 100% - 17px);
}
#file_manager table tr{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
#file_manager table th{
	height: 40px;
}
#file_manager table th, #file_manager table td{
	float: left;
} 
#file_manager table td{
	padding: 8px;
	word-break: break-all;
}
#file_manager table tbody {
	//overflow-y:auto;
	//height: 400px;
}
#file_manager tr.info.groupBy td{
	width: 100%;
}
#rename_input{
	margin-bottom: 10px;
}
#editinfo_modal textarea{
	resize:vertical;
	margin-bottom: 10px;
	
}
#analysisinfo_modal .modal-body div{
	padding: 0 20px;
}
.title{
	line-height: 34px;
}
.ajax_loading{
	display: none;
	width: 100%;
	text-align: center;
	height: 50px;
	}
.ajax_loading img{
	height: 100%;
}
ul.affix {
	left: 0;
    position: fixed;
    top: 50px;
    z-index: 2;
    background: #FFF;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.analysis_status_memo{
	color: #f44335;
    font-size: 9px;
    padding: 1px 2px;
    border: 1px solid;
    margin-left: 5px;
}
.filter_options{
	display: inline-block;
	line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
}
.filter_option{
	display: block;
	margin: 0;
    line-height: 12px;
}
.filter_option:hover{
	cursor: pointer;
}