.guide_page{
	width: 100%;
	display: none;
	padding-bottom: 10px;
}
.guide_page .guide_img {
	width: 100%;
}
.guide_page .guide_img img{
	max-width: 100%;
	max-height: 100%;
}
.guide_page .btn_box{
	width: 50%;
}
.guide_page .btn_box button{
	margin-left:10%;
	width: 30%;
}