.content{
	margin-top: 0;
}
aside{
	//margin-top: 50px;
}
.bootstrap-table .bs-bars{
	width: 75%;
}
.bootstrap-table .search{
	width:20%;
}
.fixed-table-container{
	border:0;
}
.fixed-table-container tbody td{
	border: 0;
}
.bootstrap-table .table>tbody>tr{
	cursor: pointer;
}
.bootstrap-table .table>thead>tr>th{
	border-left:0 ;
}
.bootstrap-table .table>tbody>tr>td{
	vertical-align: middle;
	font-size: 16px;
}
.bootstrap-table .table>tbody>tr>td>.btn{
	margin:0 5px;
}
.bootstrap-table .table>tbody>tr>td>.file_desc{
	font-size: 10px;
	color:#9E9E9E;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 85%;
    text-align: left;
    margin-top: 2px;
}

#tool_bar{
	width: 100%;
	overflow: hidden;
}
#tool_bar .title{
	margin-left:25px; 
}
#tool_bar .tools{
	//min-width: 270px;
	overflow: hidden;
}
#tool_bar .tools ul{
	list-style-type:none;
}
#tool_bar .tools ul>li{
	display:inline;
}
#funcs_btn{
	position:inherit;
}
#funcs_btn .dropdown-menu{
	margin-top:-10px; 
}
#file_manager{
	padding: 0 30px;
}
#file_manager table{
	width: 100%;
}
#rename_input{
	margin-bottom: 10px;
}
.btn-box{
	min-width: 120px;
}
.btn-box > a {
	margin-right:5px;
}