html {
    scroll-behavior: smooth;
}
#menunavbar{
    padding-top: 50px;
    color: #000;
    border-radius: 0;
    border:0 
}
.brand{
    top:0;
    position: absolute;
    font-size: 64px;
    padding-left: 1em;
    z-index: 1024;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
     -o-transition: font-size 0.3s;
        transition: font-size 0.3s;
}
.brand a{
    color: #000;
    text-decoration: none;
}
.brand a:hover{
    color: #000;
}
#menunavbar .navbar-nav>li {
    //float: left;
}
#menunavbar .navbar-nav>li>a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
}

#menunavbar.navbar-default .navbar-nav>li>a:focus, #menunavbar.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: #607D8B;
}
#menunavbar .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    text-align: left;
    border: 0;
}
#content>.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.subtitle{
    text-align: center;
    font-weight: bold;
    font-size: x-large; 
    padding-top: 2em;
    padding-bottom: 2em;
}
.intro{
    overflow: hidden;
    text-align: center;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #FFF;
}
.intro .intro_icon{
    font-size: 80px;
}
.intro .intro_desc{
    font-size: 24px;
}
.feature_bg1{
    background-color: #607D8B;
}
.feature_bg2{
    background-color: #795548;
}
.feature{
    padding: 3em 1em;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px rgba(33%,33%,33%,0.2);
}
.feature .feature_pic{
    text-align: center;
}
.feature .feature_desc{
    font-weight: normal;
    padding-top: 4em; 
    font-size: 16px; 
    color:#FFF;
}
.feature .feature_pic img{
    max-width: 100%;
    max-height: 400px;
    //height: 100%;
}
.intro_content{
    padding-top: 70px;
}
.architecture .head{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#FFF;
}
.architecture{
    background-color: #558ed5;
    padding: 2em 1em;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px rgba(33%,33%,33%,0.2);
}
.architecture .architecture_pic{
    text-align: center;
    //height: 400px;
}
.architecture .architecture_pic img{
    width: 100%;
    //height: 100%;
}
#vision{
    padding: 4em 1em;
    overflow: hidden;
    background-color: #004d40;
    color: #FFF;
    font-size:large; 
}
#contact_box{
    padding:10px 2% 30px;
    width: 100%;
    background-color:#39796b;
    color: #FFF;
    overflow: hidden;
}
#contact_box .title{
    text-align: center;
}
#contact_form label{
    width: 100%;
    text-align: center;
}
#contact_form textarea{
    resize:vertical;
    overflow-y: auto;
    overflow-x: hidden;
}
#contact_form .btn_box{
    text-align: center;
}
#sitemap{
    background-color: #37474F;
    padding: 3em 0;
    color: #EEE;
}
#sitemap .row{
    display:flex;
}
#sitemap .row>section+section{
    border-left: 1px solid #FFF;
}
#sitemap .head{
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-bottom: 1em;
}
#sitemap .menu{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#sitemap .menu a{
    text-decoration: none;
    color: #CCC;
}
#gotop{
    cursor: pointer;
    text-align: center;
    position: fixed;
    right:  0;
    bottom:5%;
    width:35px;
    font-size: x-large;
    background-color: #FFF;
    box-shadow: -2px 2px 4px 1px rgba(10%,10%,10%,0.1);
    visibility: hidden;
}
#gotop a{
    color: #000;
}
#gotop.affix{
    visibility:visible;
}
#menunavbar.affix{
    z-index:1024 ;
    padding-top: 0;
    top:0;
    left: 0;
    width: 100%;
}
#menunavbar.affix .brand{
    position: relative;
    top:0;
    font-size: 30px;
}
.btn_box{
    margin-top:15px;
}
@media (max-width: 1200px) {
    .brand{
        top:5px;
        font-size: 45px;
    }       
}
@media (max-width: 768px){
    #menunavbar{
        padding-top: 0;
    }
    .brand{
        top:5px;
        font-size: 30px;
    }
    #menunavbar .navbar-nav{
        margin: 0;
    }
    #menunavbar .navbar-right {
        //float: right!important;
        //margin-right: -15px;
    }
    #menunavbar-collapse{
        padding: 0;
    }
    .feature .feature_desc{
        font-size: 12px;
    }
}