#sidebarmenu{
	margin-top: -420px;
}
.topbar-relative{
	position: relative;
}
.action_bar > .holter-info{
	padding-left: 60px;
	font-size: 20px;
	float: left;
}
.action_bar > .holter-info .holter-info-item{
	padding:0px 15px;
}
.action_bar{
	margin-bottom: 10px;
	overflow: auto;
}
.action_bar > * {
	margin-left: 5px;
	float: right;
}
#data_filter .text{
	padding: 5px 8px;
  line-height: 32px;
}
#data_filter input{
}
.action_bar .btn{
	padding: 5px 8px;
}
.chart{
	//margin-bottom: 10px;
	//overflow: auto;
}
.chart .title{
	padding-left: 10px;
  	text-align: left;
  	font-size: 24px;
  	font-weight: bold;
	background-color: #000;
}
.chart .title .cht{
	font-size: 18px;
	word-break: break-all;
}
.chart .title .eng{
	font-size: 12px;
}
.chart .chartbox{
	height: 150px;
	overflow-y: auto; 
	overflow-x: auto; 
	background-color: #000;
	border: 1px solid;
}
.chart .axisbox{
	float:left;
	width: 70px;
	height: 150px;
	background-color: #000;
}
.chart .axisbox svg{
	//height: 100px;
}
.chart .chartbox svg{
	//min-width: 100%;
	//background-color: #000;
}
.chart .timebar{
	color: #FFF;
	background-color: #000;
	height: 34px;
}
.chart .timebar .start_at{
	text-align: right;
	float:left;
	font-size: 12px;
	width: 70px;
}
.chart .timebar .timeaxisbox{
	overflow: hidden;
	height: 40px;
}
.chart .timebar .end_at{
	float:right;
	font-size: 12px;
	width: 70px;
}
.action{
	float: right;
  color: #FFF;
  width: 70px;
	height: 150px;
  text-align: center;
	background-color: #000;
}
.action .btn{
	padding: 2px 6px;
    margin-bottom: 5px;
    font-size: 20px;
}
.line {
  fill: none;
  stroke: gold;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}
.line-orange{
	stroke: #EF5350;
}
.line-yellow{
	stroke: #FFCA28;
}
.line-green{
	stroke: #9CCC65;
}
.y-grid .tick line{
	stroke: white;
	stroke-width: 1px;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}
.x-grid .tick line{
	stroke: white;
	stroke-width: 1px;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}
.axisY .tick line,
.axisX .tick line{
	stroke: white;
}
.axisY .tick text,
.axisX .tick text{
	fill: white;
}
.slidewindow{
	fill: #FFF;
	stroke: #FFF;
	stroke-width: 2.5px;
	stroke-dasharray: 2,4;
	opacity:0.3;
}
.tag-marker-icon{
	cursor: pointer;
}

.chartbox::-webkit-scrollbar {
    background-color: #000;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
.chartbox::-webkit-scrollbar-track {
    background-color: #000;
}
.chartbox::-webkit-scrollbar-corner {
    background-color: #000;
}
/* scrollbar itself */
.chartbox::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #000;
}

/* set button(top and bottom of the scrollbar) */
.chartbox::-webkit-scrollbar-button {
    display:none;
}

.red{
	color: #EF5350;
}
.green{
	color: #9CCC65;
}
.orange{
	color: #EF5350;
}
.yellow{
	color: #FFCA28;
}