#main .title{
	margin-left: 40px;
}
#main>hr{
	width: 95%;
 	border: 0;
    height: 1px;
    margin-top: 5px;
    background: #333;
    background-image: -webkit-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -o-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: -moz-linear-gradient(to right,#ccc, #333, #ccc);
    background-image: linear-gradient(to right,#ccc, #333, #ccc);
}
#toolbar{
}
#toolbar .btn-toolbar{
	min-width:550px

}
#toolbar>ul{
	list-style-type: none;
    margin: 0;
    margin-right: 10%;
    padding: 0;
}
#toolbar>ul>li{
	float: right;
	margin: 0 5px;
}
#toolbar>ul>li>div>div{
	//float: left;
	//width:33.33%;
}
#toolbar .interval_select_box{
	min-width:500px
}
#toolbar .interval_select_box>div{
	font-size: 16px;
	padding: 0 5px;
	text-align: center;
	line-height: 34px;
}
#toolbar .btn-toolbar >li>div{
	width:100%;
}
#run_btn{
	width:100%;
}
#analysis_result{
    width: 90%;
    margin: 10px auto;
}
.ajax_loading{
	display: none;
	width: 100%;
	text-align: center;
}
.tab-content{
	margin-top: 10px;
	width: 100%;
}
#chart_container{
	width: 100%;
	height: 400px;
}
.line {
  fill: none;
  stroke-width: 2px;
}
.legend rect {
	fill:white;
	stroke:black;
	opacity:0.8;
}
#legend_container{
	position: absolute;
	margin-top:-400px;
	right:9%;
	z-index: 1;
}
#legend_container input{
	cursor: pointer;
}
#legend_container label{
	font-size: 12px;
	vertical-align: text-bottom;
	margin-bottom: 0px;
	cursor: pointer;
}
#legend_container label .legend_rect{
	width: 12px;
	height: 10px;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	}