
#main .row{
	padding-top:10px;
	padding-bottom: 10px; 
}
.box{
	padding: 10px;
	text-align: center;
	//border:1px solid #AAA;
	border-radius:8px;
	//margin:0 auto;
	cursor: pointer;
	//box-shadow: 0px 0px 10px 1px rgba(20%,20%,20%,0.2);
}
.box:hover{
	background-color: #E8F5E9;
}
.box a:hover{
	text-decoration: none;
	color: #337ab7;
}
.box .icon{
	font-size: 80px;
}
.box .text{
	font-size: 18px;
	margin-top: 15px;
}
.box h4{
	font-weight: bold;
}
.box p{
	font-size: 12px;
}