.monitor{
	overflow: hidden;
	width: 95%;
	margin:0 auto; 
	background-color: #000;
}
.chart_view{
	padding: 15px;
	overflow: hidden;
}
.chart{
	//margin-bottom: 10px;
	//overflow: auto;
}
.chart .title{
	color:#fff;
}
.chart .chartbox{
	height: 140px;
}
.data_view{
	float:right;
	width: 250px;
}
.value_box{
	min-height: 180px;
	padding: 15px;
}

.value_box .title{
	font-size: 14px;
	margin-bottom: 10px;
}

.value_box .value{
	font-size: 84px;
	line-height: 84px;
	text-align: center;
	font-weight: bold;
}
.holter-info{
	padding-left: 60px;
	margin-bottom: 15px;
	font-size: 20px;
}
.holter-info .holter-info-item{
	padding:0px 15px;
}
.red{
	color: #EF5350;
}
.green{
	color: #9CCC65;
}
.orange{
	color: #EF5350;
}
.yellow{
	color: #FFCA28;
}
.line {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}
.blinking{
    animation: blinkingText 1.2s infinite;
}
.updatebar{
	fill: #000;
	stroke:none;
	stroke-width: 0;
	opacity:1;
}
.updatebar rect.circle{
	fill: #000;
	stroke:none;
	stroke-width: 0;
	opacity:1;
}
.btn_box{
	text-align: center;
}
.btn_box .btn-border{
	background-color: #FFF;
	width: 110px;
	border-radius: 5px;
	border: 5px solid #FFF;
    margin: 0 auto;
}
.btn_box .btn{
	white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 26px;
    border-color: #FFF;
    box-shadow: 0px 2px 5px #000, -1px -1px 6px #000 inset;
    border: 0;
}
.btn_box .btn:hover{
}
.action {
	margin-bottom: 30px;
	text-align: center;
}
.action .btn{
	font-size: 24px;
	margin:0 10px;
}
@keyframes blinkingText{
    0%{     opacity: 0;    }
    49%{    opacity: 0; }
    60%{    opacity: 1; }
    99%{    opacity: 1;  }
    100%{   opacity: 1;    }
}