.holter-panel{
	overflow: hidden;
	width: 90%;
	margin:0 auto; 
}
.holter-item-box{
	width: 20%;
	float: left;
	padding: 5px 20px;
}
.holter-item-box a{
	color: #000;
	text-decoration: none;
}
.holter-item-box a:hover > div{
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}
.holter-item{
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	min-width: 100px;
}
.holter-item.bg-red{
	background-color: #FFCDD2;
}
.holter-item.bg-green{
	background-color: #E8F5E9;
}
.holter-item.bg-gray{
	background-color: #EEEEEE;
}
.holter-item .h-line{
	margin-top: 2px;
    margin-bottom: 2px;
	border-top: 1px solid #aaa;
}
.holter-content{
	overflow: hidden;
	width: 100%;
	padding:5px 0px;
	min-height: 35px;
}
.holter-content.text-yellow{
	color:#BF360C;
}
.holter-title{
	text-align: right;
	float: left;
	width: 30%;
	min-width: 40px;
}
.holter-text{
	overflow: hidden;
	padding-left: 10px;
}
.holter-p-name{
	min-height: 34px;
	font-size: 24px;	
}
.holter-data{
	font-size: 24px;	
}
.holter-data .holter-title{
	width: 35%;
	min-width: 70px;
}

@media only screen and (max-width: 1250px) {
	.holter-item-box{
		width: 25%;
	}
}

@media only screen and (max-width: 996px) {
	.holter-item-box{
		width: 33.333%;
	}
}
@media only screen and (max-width: 600px) {
	.holter-item-box{
		width: 50%;
	}
}