.modal-dialog-box{
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.modal-dialog-centered{
	position: relative;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-dialog-centered .modal-content{
	width: 100%;
    padding: 15px;
}
.progress-bar{
}