.tools .add{
	line-height: 34px;
	margin-right: 10px;
}
#priority_modal select{
	width:50px;
}
#priority_modal .row{
	padding: 10px;
}
#priority_modal .row>div{
	padding: 5px 0;
}
#priority_modal .text{
	float:left;
	width:25%;
}
#priority_modal .priority_email_list{
	float:left;
	width:40%;
}
#priority_modal .remove:hover{
	color:red;
	cursor: pointer;
}
#priority_modal .priority_email_add{
	float:left;
	width:35%;
}
#priority_modal .priority_emails{
	border-bottom: 1px solid #333;
	border-right: 0;
	border-left: 0;
	border-top:0;
}
#priority_modal .priority_emails:focus{
	outline: 0;
}