.content{
	margin: 0 auto;
	width:60%;
}
input[type=submit]{
	margin-top: 20px;
}
.errormsg{
	margin:10px auto;
}
legend{
	text-align: center;
}
#agree_info{
	margin:0 auto;
	width: 100%; 
	//border: 1px solid #000;
	//border-radius:10px; 
}
#agree_info>h4{
	padding:0;
	text-align: center; 
}
#agree_info>hr{
	margin: 0;
}
#agree_info>div{
	width: 100%;
	padding: 10px;
	overflow-y:auto; 
	text-align: center; 
}
#agree_info>.agree_content>pre{
	max-height: 500px;
	text-align: left;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}   
.storage_msg,.data{
	line-height: 34px;
}
textarea{
	resize: vertical;
}
select{
	width: 100%;
}
.holter_list >div {
	padding:5px 0; 
	border: 1px solid #DDD;
	border-radius: 5px;
}
input[type=checkbox].check_input{
	margin-top: 8px;
    height: 20px;
    width: 20px;
}