html,body{
	font-family: "Kaiu", "Noto Sans TC", sans-serif;
	margin: .5in;
	line-height: 1rem;
	font-size: 16px;
}
div {
	box-sizing: border-box;
}
header{
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
}

.title{
}
.title-sub{
}

.info{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
.info-column{
    padding-left: 15px;
	overflow: hidden;
}
.info-column > *{
}

.info-column.border td{
	border-bottom: 2px solid #000;
}
.info-label{

}

.info-value{
    height: 16px;
    min-width: 100px;
    width: 100%;
    border-bottom: 1px solid #000;
}
.patient_inforamtion{
    width: 100%;
    min-height: 150px;
    border: 2px solid #000;
}
.block-title{
	margin-top: 0.5rem;
	font-weight: 600;
	text-align: center;
}

.report_inforamtion{
	margin-top: 1rem;
    width: 100%;
    border: 2px solid #000;
}
.finding_inforamtion{
	margin-top: 1rem;
    width: 100%;
    border: 2px solid #000;
}
.block-content{
    width: 95%;
    margin:0.5 auto 0;
    min-height: 350px;
}
.text-center{
	text-align: center;
}
.block-footer{
	text-align: right;
	font-size: 18px;
}
.underline{
	border-bottom: 1px solid #000;
}
.text-left{
	text-align: left;
}
td{
	vertical-align: top;
}

.page-break {
    page-break-after: always;
}