html,body{
	font-family: "Kaiu", "Noto Sans TC", sans-serif;
	padding: .1in 0.05in;
	margin: 0;
	line-height: 1rem;
	font-size: 16px;
}
.page-head{
	margin-top: 50px;
}
.page{
    padding: 15px 10px 0;
}
.page .section{
	border: 2px solid #333;
}
.page .chart{
    padding-left: 15px;
}

.ecg_rr_chart_info{
	padding-left: 15px;
	padding-top:15px;
	width: 100%;
}
.ecg_rr_chart_info > div{
	display: inline-block;
	overflow: hidden;
}

.page img{
	width: auto;
	height: 180px;
}
.svg.chart img{
	width: auto;
	height: 230px;
}

.general_info{
	border-collapse: collapse;
}

.general_info thead tr{
	border-bottom:2px solid #000 ;
}
.general_info tbody tr{
	border-bottom:1px solid #000 ;
}
.general_info td, .general_info th{
	padding:10px;
}
th,td{
	text-align: center;
}
tr.summary{
	font-weight: bold; 
}
.report_inforamtion{
	border-collapse: collapse;
	margin-top: 5px;
    width: 100%;
    border: 2px solid #000;
    padding: 5px;
}
.report_inforamtion tr.sub{
	border-bottom:2px solid #333; 
}
.report_inforamtion.second{
	margin-top: 30px;
}

.info-label{
    padding: 15px  10px;
    min-width: 150px;
    text-align: left;
}

.info-value{
	height: 16px;
    min-width: auto;
    width: auto;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 0;
}