#report_creating_msg{
	position: fixed;
    top: 0;
    left: 0;
    background: #0000007a;
    z-index: 1060;
    height: 100vh;
    width: 100%;
    display: flex;
	  justify-content:center;
	align-items:center;
	padding:0 15px;
}
#report_creating_msg .msg_box{
	padding: 15px;
	width:100%;
	max-width: 500px;
	background-color: #FFF;
    height: 200px;
}
#report_creating_msg .msg_box .icon{
	font-size: 70px;
}

#report_creating_msg .msg_box .text{
	font-size: 24px;
}
@media only screen and (max-width: 768px) {

}