
.select_peaks label{
	margin: 0;
	line-height: 39px;
	height: 39px;
	font-size: 16px;
}

textarea{
	width: 100%;
	resize: vertical;
}

#analysis_report,#temp_analysis_report{
	width: 1280px;
	margin: 0 auto;
	overflow-x: auto;
}
#analysis_report .title,#temp_analysis_report .title{
	margin-left: 0; 
	line-height: 34px;
	font-weight: bold;
}
#ecg_exporting{
	text-align: right;
}
.page{
	padding-top: 20px;
	width: 100%;
	min-width: 648px;
	font-size: medium;
}
.page .section{
	border: 2px solid #333;
	width: 100%;
    margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}
.page .section.noborder{
	border:0;
}
.page .section .row{
	padding-top: 5px;
	padding-bottom: 5px;
}
.page .section .head{
	border-bottom:2px solid #333; 
}
.page .section .title_head{
	font-size: large;
}
.page .section .data{
	line-height: 34px;
	word-break: break-word;
}
#tmp_ecgs {
	width:960px;
}


.col-sm-2{
	width: 16.666666667%;
	float: left;
}
.col-sm-4{
	width: 33.333333333%;
	float: left;
}
.col-sm-6{
	width: 50%;
	float: left;
}
.col-sm-12{
	width: 100%;
	float: left;
}
th,td{
	text-align: center;
}
tr.summary{
	font-weight: bold; 
}
.chart{
	width: 100%;
	height: 300px;
}
.ecg_part_chart_info{
	width: 100%;
	margin-top:10px;
	padding-left: 10px;
	overflow:hidden;
}
.ecg_part_chart_info > div{
	float:left;
	width: 25%;
}
