.content{
	width: 100%;
	//min-width: 768px;
	overflow: hidden;
}
aside{
	float:left;
	//width: 25%;
	width:180px;
	padding: 0 10px;
	//margin-top:50px; 
	padding-top: 50px;
	font-size: 18px;
	min-width: 150px;
}
.sidebar-nav a{
	color: #000;
}
#main{
	overflow: hidden;
	margin-top:50px; 
	min-width: 555px;
}
.icon-red{
	color: #F44336
}
.icon-orange{
	color: #FF9800
}
.icon-yellow{
	color: #FFEB3B
}
.icon-green{
	color: #8BC34A;
}
.icon-lightblue{
	color: #03A9F4
}
.icon-blue{
	color: #3F51B5;
}
.icon-purple{
	color: #673AB7;
}