#main .title {
    margin-left: 30px;
}
.topbar-relative{
	position: relative;
}
.action_bar{
	margin-bottom: 10px;
	overflow: auto;
}
.action_bar > * {
	margin-left: 5px;
	float: right;
}
#data_filter .text{
	padding: 5px 8px;
    line-height: 32px;
}
#data_filter input{
}
.action_bar .btn{
	padding: 5px 8px;
}
.chart{
	//margin-bottom: 10px;
	//overflow: auto;
}
.chart .title{
	text-align: center;
	float:left;
	width: 55px;
}
.chart .title .cht{
	font-size: 18px;
	word-break: break-all;
}
.chart .title .eng{
	font-size: 12px;
}
.chart .chartbox{
	height: 100px;
	overflow-y: scroll; 
	overflow-x: auto; 
	background-color: #000;
}
.chart .axisbox{
	float:left;
	width: 45px;
	height: 100px;
}
.chart .axisbox svg{
	//height: 100px;
}
.chart .chartbox svg{
	//min-width: 100%;
	//background-color: #000;
}

.chart .timebar .start_at{
	text-align: right;
	margin-left: 30px;
	float:left;
	width: 100px;
	font-size: 12px;
}
.chart .timebar .timeaxisbox{
	overflow: hidden;
	height: 20px;
}
.chart .timebar .end_at{
	float:right;
	font-size: 12px;
	width: 50px;
}
.action{
	float: right;
    color: #FFF;
    width: 50px;
    height: 100px;
    text-align: center;
}
.action .btn{
	padding: 2px 6px;
    margin-bottom: 5px;
}
.line {
  fill: none;
  stroke: gold;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}
.y-grid .tick line{
	stroke: white;
	stroke-width: 1px;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}
.x-grid .tick line{
	stroke: white;
	stroke-width: 1px;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}
.slidewindow{
	fill: #FFF;
	stroke: #FFF;
	stroke-width: 2.5px;
	stroke-dasharray: 2,4;
	opacity:0.3;
}
.timebar{
	height: 20px;
}
.tag-marker-icon{
	cursor: pointer;
}