.header_title{
	overflow: hidden;
}
.header_title .btn{
	margin-left:15px ;
}
.mt-3{
	margin-top: 3rem;
}
#comment_input{
	resize: vertical;
  height: 250px;
}
.section{
		font-family: "標楷體";
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.section.full-width{
    padding-left: 0px;
    padding-right: 0px;

}
.section .section-header{
	margin-top: 20px;
	padding: 10px;
	border-top: 2px solid #00d5ff;
	border-bottom: 2px solid #00d5ff;
	background-color: #f2f2f2;
}
.section .section-header .section-header-logo{
	padding-left: 30px;
	height: 37px;
	position: absolute;
}
.section .section-header .section-header-logo img{
		height: 100%;
}
.section .section-header .section-header-text{
	font-size: 26px;
	text-align: center;
}
.section .section-header .section-header-date{
	  top: -25px;
    right: 20px;
    position: relative;
    font-size: 18px;
    float: right;
}
.section .blank{
	height: 50px;
}
.section .row {
	margin-right: 0;
    margin-left: 0;
}
.section .section-title-text{
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000;
	color:#FFF;
}
.section .table-row.row{
	display: flex;
}
.section .table-row .table-col{
	text-align: center;
	padding: 10px;
	border-left: 1px solid #000; 
}
.section .table-row .table-col:first-child{
	border-left: none; 
}
.section .table-row{
	border-top: 1px solid #000; 
}
.section .table-row:first-child{
	border-top:none;
}
.section .table-row:last-child{
	/*border-bottom: 1px solid #000; */
}
.section .table-col.title{
	text-align: center;
	background-color: #EFEFEF;
}
.section .font-large{
	font-size: large;
}
.font-bold{
	font-weight: bold;
}
.section .section-content{
	border: 1px solid;
	font-size: 18px;
	font-weight: 600;
}
.section .section-content .line-hight-small .table-col{
	line-height: 12px;
}
.section .chart-content{
	height: 400px;
}

.section .chart-content .chart-box{
	position: relative;
}


.axisy path,
.y-axis path{
  fill: none;
  stroke: none;
}
.y-axis line{
  fill: none;
  stroke: rgba(0,0,0,.1);
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.legend{
	position: absolute;
	top: 0;
  right: 0;
 	text-align: center;
}
.legend > label{
	margin-right: 10px;
}
@media only screen and (max-width: 768px) {
	.section .table-row .table-col{
		border-right: 1px solid #000; 
	}
	.section .table-row.row{
		display: block;
	}
}