#wrap{
    background: #EFEFEF;
}
.content{

    overflow: initial;
}
#main.survey_penal{
	 background: #FFF;
	min-width: auto;
	max-width: 640px;
	width:100%;
    /* border: 1px solid #333; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 1px 1px 4px 0px rgba(20%,20%,40%,0.5);
}
#survey_form fieldset{
	margin-bottom: 20px;
}
#survey_form .take_btn{
    width: 100%;
    font-size: 24px;
}
@media screen and (min-width: 992px){
    #survey_form .take_btn{
        width: 50%;
    }
}