#main {
    padding-top: 0;
}

#dropzone {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 0;
    margin-bottom: 10px;
}

#dropzone.in {
    border: 5px solid #337ab7;
    font-size: larger;
}
#dropzone.hover {
    background: #337ab7;
    color: white;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}