#main{
    margin-top: 50px;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-8{
	padding:0 5px;
}
#resetpw_panel{
    margin-top: 50px;
}
.text-control{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}